#Importing Libraries

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import warnings
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go
warnings.filterwarnings('ignore')

# Importing data set

In [ ]:
path = "/content/drive/MyDrive/Bank XYZ dataset.csv"
cat = pd.read_csv(path)

In [ ]:
cat.head()

#Explore the data set

In [ ]:
cat.head(7)

In [ ]:
cat.columns

In [ ]:
cat.describe()

In [ ]:
cat.describe(include='object')

In [ ]:
cat.shape

In [ ]:
len(cat)

# relatinship between defaulting and other columns

In [ ]:
cat.rename(columns = {'eduction_level':'education_level'}, inplace = True)

In [ ]:
cat.default.value_counts()

In [ ]:
cat.default.value_counts().plot.bar()
plt.title('DEFAULT')
plt.xlabel('Customers')
plt.ylabel('Number')

# relationship betweem education level and defaulting

In [ ]:
plt.figure(figsize=(10, 6))
sns.countplot(x ='education_level', data =cat)
plt.title('EDUCATION LEVEL')

In [ ]:
cat.groupby('default')['age'].agg(["mean", "std"])

In [ ]:
plt.figure(figsize =(10, 7))
cat.groupby('default')['age'].agg(["mean"]).plot.bar()
print('Yonger customers are more likely to default')

In [ ]:
plt.figure(figsize=(8,5))
pd.crosstab(cat.education_level,cat.default).plot.bar()
print('people who only have a highschool degree are highest defaulters in number ')

In [ ]:
plt.figure(figsize =(10, 7))
cat.groupby('default')['employ'].agg(["mean"]).plot.bar()

In [ ]:
plt.figure(figsize =(10, 7))
cat.groupby('education_level')['income'].agg(["mean"]).plot.bar()
plt.title('INCOME FOR EACH EDUCATION LEVEL')
plt.ylabel('Income')

# address and defaulting

In [ ]:
pd.crosstab(cat.employ, cat.default).plot.bar()
print('employees of category 14,14,16,17,181,19,20, produce no defaulters')

In [ ]:
cat.head()

In [ ]:
cat.address.value_counts().plot.bar()

In [ ]:
pd.crosstab(cat.address,cat.default).plot.bar()
print('People at address 0 are highest number of defaulters, while people at address 15 produce no defaulters')

In [ ]:
cat.columns

In [ ]:
pd.crosstab(cat.income, cat.default).plot.bar()

In [ ]:
cat.groupby('default')['income'].plot.bar()

In [ ]:
sns.violinplot(x= 'default', y='income', data= cat)

In [ ]:
cat.columns

In [ ]:
pd.crosstab(cat.debtinc, cat.default).plot.bar()

In [ ]:
plt.figure(figsize=(10, 5))
sns.distplot(cat.income)
plt.title('Income')

In [ ]:
plt.figure(figsize =(10, 7))
cat.groupby('default')['debtinc'].agg(["mean"]).plot.bar()

In [ ]:
plt.figure(figsize =(10, 7))
cat.groupby('default')['income'].agg(["mean"]).plot.bar()

In [ ]:
cat.columns

# credit debt and defaulting

In [ ]:
plt.figure(figsize =(10, 7))
cat.groupby('default')['creddebt'].agg(["mean"]).plot.bar()
print('people with higher credit debt are more likely to default')

defaulting and other debts

In [ ]:
plt.figure(figsize =(10, 7))
cat.groupby('default')['othdebt'].agg(["mean"]).plot.bar()
print('people with  higher other debts are more likely to default')

In [ ]:
plt.figure(figsize =(10, 7))
cat.groupby(['default','education_level'])['income'].agg(["mean"]).plot.bar()

In [ ]:
plt.figure(figsize=(8, 4))
sns.barplot(x='education_level', y='income', hue='default', data=cat)
plt.title('income for different education levels')

In [ ]:
plt.figure(figsize=(8, 4))
sns.barplot(x='education_level', y='age', hue='default', data=cat)
plt.title('income for different education levels')

In [ ]:
cat.columns

In [ ]:
plt.figure(figsize=(8, 4))
sns.barplot(x='employ', y='income', hue='default', data=cat)
plt.title('different employees defaulting')

In [ ]:
plt.figure(figsize=(8, 4))
sns.barplot(x='employ', y='age', hue='default', data=cat)
plt.title('employyes of different ages defaulting')

In [ ]:
plt.figure(figsize=(8, 4))
sns.barplot(x='employ', y='address', hue='default', data=cat)
plt.title('employees at different addresses defaulting ')

In [ ]:
plt.figure(figsize=(8, 4))
sns.barplot(x='employ', y='debtinc', hue='default', data=cat)
plt.title('employees at different addresses defaulting ')

In [ ]:
plt.figure(figsize=(8, 4))
sns.barplot(x='employ', y='creddebt', hue='default', data=cat)
plt.title('employees at different addresses defaulting ')

In [ ]:
plt.figure(figsize=(8, 4))
sns.barplot(x='employ', y='othdebt', hue='default', data=cat)
plt.title('employees at different addresses defaulting ')

In [ ]:
plt.figure(figsize=(8, 4))
sns.barplot(x='address', y='creddebt', hue='default', data=cat)
plt.title('employees at different addresses defaulting ')

In [ ]:
plt.figure(figsize=(8, 4))
sns.barplot(x='address', y='othdebt', hue='default', data=cat)
plt.title('employees at different addresses defaulting ')

In [ ]:
plt.figure(figsize=(8, 4))
sns.barplot(x='address', y='income', hue='default', data=cat)
plt.title('employees at different addresses defaulting ')

In [ ]:
plt.figure(figsize=(8, 4))
sns.barplot(x='address', y='age', hue='default', data=cat)
plt.title('employees at different addresses defaulting ')

In [ ]:
plt.figure(figsize=(8, 4))
sns.barplot(x='address', y='othdebt', hue='default', data=cat)
plt.title('employees at different addresses defaulting ')

In [ ]:
plt.figure(figsize=(8, 4))
sns.barplot(x='address', y='debtinc', hue='default', data=cat)
plt.title('employees at different addresses defaulting ')